{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true
}
